<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iwjw.dao.UserMapper">

    <select id="createUser" resultType="User">
    INSERT INT user(uPhone) VALUE(uPhone = #{uPhone});
    </select>

    <select id="selectUser" resultType="User">
        SELECT * FROM user WHERE uPhone = #{uPhone};
    </select>


</mapper>
 
