<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iwjw.dao.UserMapper">

    <insert id="createUser">
    INSERT INTO user(uPhone) VALUE(#{uPhone});
    </insert>

    <select id="selectUser" resultType="User">
        SELECT * FROM user WHERE uPhone = #{uPhone};
    </select>


</mapper>
 
